{% extends 'admin.html.twig' %}

{% block title %}Hello KnowledgeController!{% endblock %}

{% block content %}
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{knowledge.mencion}} </h5>
    <p class="card-text">{{ knowledge.description }}</p>
    <a href="#" class="card-link"><a href="{{ path("knowledge_update", { knowledge: knowledge.id }) }}" class="btn btn-success"><i class="fas fa-edit"></i></a>
    <a href="#" class="card-link"><a href="{{ path("knowledge_delete", { knowledge: knowledge.id}) }}" class="btn btn-danger"><i class="fas fa-trash"></i></a></a></a>
  </div>
</div>
{% endblock %}