{% extends 'base.html.twig' %}

{% block title %}Hello KnowledgeController!{% endblock %}

{% block body %}
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{knowledge.mencion}} </h5>
    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="card-link"><a href="{{ path("knowledge_update", { knowledge: knowledge.id }) }}" class="btn btn-success"><i class="fas fa-edit"></i></a>
    <a href="#" class="card-link"><a href="{{ path("knowledge_delete", { knowledge: knowledge.id}) }}" class="btn btn-danger"><i class="fas fa-trash"></i></a></a></a>
  </div>
</div>
{% endblock %}